---
layout: null
permalink: /sitemap.xml
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <url>
    <loc>{{ site.url }}/tag/</loc>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>

  <url>
    <loc>{{ site.url }}/wiki/index/</loc>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>

  <url>
    <loc>{{ site.url }}/blog/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
  </url>

  {% for post in site.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    {% if post.updated %}
    <lastmod>{{ post.updated | date_to_xmlschema }}</lastmod>
    {% else %}
    <lastmod>{{ post.date | date_to_xmlschema }}</lastmod>
    {% endif %}
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  {% endfor %}

  {% assign documents = site.wiki %}
  {% for doc in documents %}
  {% if doc.public == true %}
  <url>
    <loc>{{ site.url }}{{ doc.url }}</loc>
    {% if doc.updated %}
    <lastmod>{{ doc.updated | date_to_xmlschema }}</lastmod>
    {% else %}
    <lastmod>{{ doc.date | date_to_xmlschema }}</lastmod>
    {% endif %}
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  {% endif %}
  {% endfor %}

</urlset>
